<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    您有一个字符串序列，您希望确定序列中出现频率最高的字符串。它可以是唯一的一个。
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}most-freq.svg" alt="example" style="max-height: 200px"/>
</p>

<p>
   <strong>输入：</strong>非空{% if is_js %}数组{% else %}列表{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span>的字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>字符串 <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>



<div class="for_info_only">
    <p>
        <strong>示例：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
