<p>
    У тебе є сукупність рядків і тобі потрібно визначити, який рядок зустрічається
    найчастіше у цій сукупності.
</p>

<p>
    <strong>Вхідні дані:</strong> Не порожній {% if interpreter.slug == "js-node" %}масив{% else %}список{% endif %} рядків.
</p>

<p>
    <strong>Вихідні дані:</strong> Рядок. 
</p>



<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
