<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Vous disposez d'une séquence de chaînes de caractères et vous souhaitez déterminer la chaîne de caractères la plus fréquente dans la séquence. Il peut s'agir de la seule.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}most-freq.svg" alt="example" style="max-height: 200px"/>
</p>

<p>
   <strong>Entrée:</strong> <span>Tableau</span> non vide {% if is_js %}<span>(array)</span>{% else %}<span>liste</span> <span>(list)</span>{% endif %} de <span>chaînes</span> <span>(strings)</span>.
</p>

<p>
   <strong>Sortie:</strong> Une <span>chaîne de caractères</span> <span>(string)</span>. 
</p>



<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
