<p>
    You have a sequence of strings, and you’d like to determine the most frequently occurring string in the sequence. It can be the only one.
</p>

<p>
    <strong>Input:</strong> non-empty {% if is_js %}<span translate="repeat">array</span>{% else %}<span translate="repeat">list</span>{% endif %} of <span translate="repeat">strings</span>.
</p>

<p>
    <strong>Output:</strong> A <span translate="repeat">string</span>. 
</p>



<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
