<p>
    You have a sequence of strings, and you’d like to determine the most frequently occurring string in the sequence. It can be only one.
</p>

<p>
    <strong>Input: </strong> non empty {% if interpreter.slug == "js-node" %}Array{% else %}list{% endif %} of strings.
</p>

<p>
    <strong>Output: </strong> a string. 
</p>



<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
