<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Sie haben eine Folge von Zeichenfolgen und möchten die am häufigsten vorkommende Zeichenfolge in der Folge ermitteln. Es kann die einzige sein.
</p>

<p>
   <strong>Eingabe:</strong> Nicht-leeres {% if is_js %}Array{% else %}Liste{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span> von String <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Eine Zeichenkette <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>



<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
