<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Mają Państwo sekwencję ciągów i chcą Państwo określić najczęściej występujący ciąg w sekwencji. Może to być jedyny ciąg.
</p>

<p>
   <strong>Dane wejściowe:</strong> Niepusta tablica {% if is_js %}{% else %} lista{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span> ciągów znaków <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Dane wyjściowe:</strong> Ciąg znaków <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>



<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
